.headline-red {
  position: relative;
  padding: 0.25em 0;
}
.headline-red:after {  
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.headline-blue {
  position: relative;
  padding: 0.25em 0;
}
.headline-blue:after {  
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(90, 100, 230), transparent);
  background: linear-gradient(to right, rgb(90, 100, 230), transparent);
}


@keyframes animation-marquee {
  0% { 
    transform: translate(0%); 
  }
  100% { 
    transform: translate(-100%); 
  }
}
@-webkit-keyframes animation-marquee {
  0% { 
    transform: translate(0%); 
  }
  100% { 
    transform: translate(-100%); 
  }
}
@mixin marquee {
  animation-name: animation-marquee;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
    animation-direction: normal;
}

.marquee-wrap {
  background: #232323;
  margin: 30px 0 0 0;
  padding: 0 5px;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  position: relative;
    .marquee-list {
      white-space: nowrap;
      position: absolute;
      @include marquee;
        .marquee-item {
          display: inline;
          white-space: nowrap;
          font-weight: bold;
          font-size: 1.4em;
          color: #68EF41;
          padding: 0 60px 0 0;
            &:first-child {
              padding: 0 60px 0 100vw;
            }
        }
    }
}

