#editor {
    display: flex;
}

#input {
    border: 1px solid #ccc;
    min-width: 50%;
    min-height: 500px;
    resize: none;
    outline: none;
    font-size: 14px;
    background-color: #f6f6f6;
    font-family: 'Courier New', Courier, Monaco, monospace;
    padding: 20px;
}

#result {
    border: 1px solid #ccc;
    width: 50%;
    height: 500px;
    padding: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

#cheat-sheet {
    width: 50%;
    margin-left: 10px;
}
